name: DAST Demo Env

on:
  pull_request:
    branches:
      - master
  workflow_dispatch:
  
jobs:
  dast:
    runs-on: ubuntu-latest
    name: DAST on Prem Testing Action
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Create Output folder
        run: mkdir ${{ github.workspace }}/output_fold
      - name: Change dir owner
        run: sudo chown -R 1000:1000 ${{ github.workspace }}
      - name: Checkmarx DAST Github Action
        uses: Checkmarx/dast-github-action@v1.0.5
        env:
          CX_APIKEY: ${{ secrets.AST_API_KEY }}
        with:
          command: web
          config: dast-config/zap_config.yaml
          environment_id: 8112dde1-2673-4784-8615-9ad23b0311a2
          fail_on: "HIGH"
          log_level: info
          base_url: https://deu.ast.checkmarx.net/
          verbose: true
          timeout: 100000
          output: ${{ github.workspace }}/output_fold
      - name: Change dir owner back to gh user
        if: always()
        run: sudo chown -R 1001:1001 ${{ github.workspace }}/output_fold  
      - uses: actions/upload-artifact@v3
        if: always()
        name: Upload Logs
        with:
          name: report
          path: ${{ github.workspace }}/output_fold
